@charset "utf-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */




html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block;
}

audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

b,strong {
  font-weight: 700;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

small {
  font-size: 80%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,kbd,pre,samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,select {
  text-transform: none;
}

button,html input[type=button],input[type=reset],input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,th {
  padding: 0;
}

body {
  background: #ecf0f1;
  color: #2c3e50;
  font-family: "Open Sans" "Helvetica Neue" Helvetica Arial YuGothic "游ゴシック" "Hiragino Kaku Gothic ProN" "ヒラギノ角ゴ ProN" "Hiragino Kaku Gothic Pro" Meiryo "メイリオ" sans-serif;
  font-size: 13px;
}

a {
  color: inherit;
  text-decoration: none;
}

.article_header_block .detail_wrapper {
  display: none;
}

.tsumiki-blog-entry-head {
  max-width: 685px;
}

.tsumiki-blog-entry-head .article_header_block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px;
  background: #fff;
  margin: 0 0 10px;
  position: relative;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.tsumiki-blog-entry-head .article_header_block:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #000;
  border-left-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 3px 0 0;
  border-radius: 3px 0 0;
}

.tsumiki-blog-entry-head .article_header_block .article_link {
  position: relative;
  z-index: 4;
  display: block;
}

.tsumiki-blog-entry-head .article_header_block .article_link:hover {
  text-decoration: none;
}

.tsumiki-blog-entry-head .article_header_block .article_link:hover+.hover_border {
  display: block;
}

.tsumiki-blog-entry-head .article_header_block .article_link time {
  top: 0;
  left: 0;
}

.tsumiki-blog-entry-head .article_header_block h1 {
  font-size: 21px;
  line-height: 1.5;
  margin: 0;
  padding: 20px 0;
}

.tsumiki-blog-entry-head .article_header_block time {
  position: absolute;
  z-index: 4;
  top: 22px;
  left: 22px;
  line-height: 1;
  font-family: "Fredoka One" cursive;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

.tsumiki-blog-entry-head .article_header_block .detail_wrapper {
  display: block;
  position: relative;
  z-index: 4;
  text-align: right;
}

.tsumiki-blog-entry-head .article_header_block .detail_wrapper>* {
  vertical-align: middle;
}

.tsumiki-blog-entry-head .article_header_block .detail_wrapper .author_pic {
  width: 30px;
  height: auto;
  margin: 0 0 0 .5em;
  vertical-align: middle;
}

.tsumiki-blog-entry-body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px;
  background: #fff;
  margin: 0 0 10px;
  position: relative;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",sans-serif;
  font-size: 14px;
}

.tsumiki-blog-entry-body>:nth-child(1) {
  margin-top: 0!important;
}

.tsumiki-blog-entry-body figure {
  margin: 0;
}

.tsumiki-blog-entry-body h1 {
  font-size: 2em;
  margin-top: 4em;
}

.tsumiki-blog-entry-body h2 {
  font-size: 1.7em;
  margin-top: 3.4em;
}

.tsumiki-blog-entry-body h3 {
  font-size: 1.4em;
  margin-top: 2.8em;
}

.tsumiki-blog-entry-body h4 {
  font-size: 1.2em;
  margin-top: 2.4em;
}

.tsumiki-blog-entry-body h5 {
  font-size: 1.1em;
  margin-top: 2.2em;
}

.tsumiki-blog-entry-body h6 {
  font-size: 1em;
  margin-top: 2em;
}

.tsumiki-blog-entry-body h1,.tsumiki-blog-entry-body h2,.tsumiki-blog-entry-body h3,.tsumiki-blog-entry-body h4,.tsumiki-blog-entry-body h5,.tsumiki-blog-entry-body h6,.tsumiki-blog-entry-body p {
  word-wrap: break-word;
  word-break: break-all;
}

.tsumiki-blog-entry-body h1:after,.tsumiki-blog-entry-body h2:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  margin-top: .5em;
  background: url(../img/t-blog/border.png);
}

.tsumiki-blog-entry-body p {
  line-height: 1.7;
}

.tsumiki-blog-entry-body dl,.tsumiki-blog-entry-body ol,.tsumiki-blog-entry-body ul {
  line-height: 2;
}

.tsumiki-blog-entry-body .is_col_list {
  overflow: hidden;
}

.tsumiki-blog-entry-body .is_col_list dt {
  clear: left;
  float: left;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_1 {
  width: 1em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_2 {
  width: 2em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_3 {
  width: 3em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_4 {
  width: 4em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_5 {
  width: 5em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_6 {
  width: 6em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_7 {
  width: 7em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_8 {
  width: 8em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_9 {
  width: 9em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_10 {
  width: 10em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_11 {
  width: 11em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_12 {
  width: 12em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_13 {
  width: 13em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_14 {
  width: 14em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_15 {
  width: 15em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_16 {
  width: 16em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_17 {
  width: 17em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_18 {
  width: 18em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_19 {
  width: 19em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_20 {
  width: 20em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_21 {
  width: 21em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_22 {
  width: 22em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_23 {
  width: 23em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_24 {
  width: 24em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_25 {
  width: 25em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_26 {
  width: 26em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_27 {
  width: 27em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_28 {
  width: 28em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_29 {
  width: 29em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_30 {
  width: 30em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_31 {
  width: 31em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_32 {
  width: 32em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_33 {
  width: 33em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_34 {
  width: 34em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_35 {
  width: 35em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_36 {
  width: 36em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_37 {
  width: 37em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_38 {
  width: 38em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_39 {
  width: 39em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_40 {
  width: 40em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_41 {
  width: 41em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_42 {
  width: 42em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_43 {
  width: 43em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_44 {
  width: 44em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_45 {
  width: 45em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_46 {
  width: 46em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_47 {
  width: 47em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_48 {
  width: 48em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_49 {
  width: 49em;
}

.tsumiki-blog-entry-body .is_col_list dt.char_length_50 {
  width: 50em;
}

.tsumiki-blog-entry-body .is_col_list dd {
  float: left;
  width: auto;
  margin-left: 2em;
}

.tsumiki-blog-entry-body ul {
  list-style: none;
  padding: 0;
}

.tsumiki-blog-entry-body ul li {
  padding-left: 40px;
}

.tsumiki-blog-entry-body ul li:nth-child(3n+1) {
  background: url(../img/t-blog/ul-c.png) 1.4em center no-repeat;
  -webkit-background-size: 12px;
  -moz-background-size: 12px;
  background-size: 12px;
}

.tsumiki-blog-entry-body ul li:nth-child(3n+2) {
  background: url(../img/t-blog/ul-t.png) 1.4em center no-repeat;
  -webkit-background-size: 12px;
  -moz-background-size: 12px;
  background-size: 12px;
}

.tsumiki-blog-entry-body ul li:nth-child(3n+3) {
  background: url(../img/t-blog/ul-r.png) 1.4em center no-repeat;
  -webkit-background-size: 12px;
  -moz-background-size: 12px;
  background-size: 12px;
}

.tsumiki-blog-entry-body ol {
  list-style: none;
  padding: 0;
  counter-reset: num;
}

.tsumiki-blog-entry-body ol li {
  padding-left: 40px;
  position: relative;
  z-index: 1;
}

.tsumiki-blog-entry-body ol li::before {
  width: 18px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  left: 1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  content: counter(num,decimal);
  counter-increment: num;
  text-align: center;
  font-family: "Fredoka One" cursive;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background: url(../img/t-blog/ol-bg.png) center no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  font-size: .8em;
}

.tsumiki-blog-entry-body blockquote {
  background: #f1ece7;
  margin: 1em 0;
  padding: 6% 12%;
  position: relative;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.tsumiki-blog-entry-body blockquote:before {
  content: "";
  display: block;
  width: 5.6%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/t-blog/qf.png) center no-repeat;
  padding-bottom: 6.8%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  margin: 4.2% 0 0 4.2%;
}

.tsumiki-blog-entry-body blockquote:after {
  content: "";
  display: block;
  width: 5.6%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../img/t-blog/qb.png) center no-repeat;
  padding-bottom: 6.8%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  margin: 0 4.2% 4.2% 0;
}

.tsumiki-blog-entry-body blockquote>* {
  margin: 0;
  padding: 0;
  border: none;
}

.tsumiki-blog-entry-body a {
  color: #11b4af;
  text-decoration: underline;
}

.tsumiki-blog-entry-body a:hover {
  text-decoration: none;
}

.tsumiki-blog-entry-body a[href$=".pdf"]:after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/t-blog/icon-pdf-g.png) center no-repeat;
  vertical-align: middle;
  margin: 0 4px;
}

.tsumiki-blog-entry-body a[target="_blank"]:after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/t-blog/icon-blank-g.png) center no-repeat;
  vertical-align: middle;
  margin: 0 4px;
}

.tsumiki-blog-entry-body .entry_body_btn {
  display: block;
  background: #11b4af;
  max-width: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 26px 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 2em auto;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.tsumiki-blog-entry-body .entry_body_btn:after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/t-blog/icon-blank-w.png) center no-repeat;
  vertical-align: middle;
  margin: 0 4px;
}

.tsumiki-blog-entry-body .entry_body_btn:hover {
  opacity: .9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}

.tsumiki-blog-entry-body .entry_body_btn[href$=".pdf"]:after {
  background: url(../img/t-blog/icon-pdf-w.png) center no-repeat;
}

.tsumiki-blog-entry-body .entry_body_btn[target="_blank"]:after {
  background: url(../img/t-blog/icon-blank-w.png) center no-repeat;
}

.tsumiki-blog-entry-body hr {
  width: 15%;
  margin: 4em auto;
  border: none;
  height: 5px;
  background: url(../img/t-blog/border.png);
}

.tsumiki-blog-entry-body strong {
  color: #e84244;
  font-size: 1.2em;
  font-weight: 700;
}

.tsumiki-blog-entry-body em {
  color: #666;
  font-size: 1.2em;
  font-style: italic;
}

.tsumiki-blog-entry-body q {
  font-style: italic;
  color: #666;
}

.tsumiki-blog-entry-body q:before {
  content: "“";
}

.tsumiki-blog-entry-body q:after {
  content: "”";
}

.tsumiki-blog-entry-body img {
  max-width: 100%;
  height: auto;
  margin: 2em 0;
  vertical-align: top;
}

.tsumiki-blog-entry-body pre {
  background: #23241f;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: .5em;
}

.tsumiki-blog-entry-body pre code {
  background: 0 0;
  padding: .5em;
}

.tsumiki-blog-entry-body code {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "Source Code Pro",monospace;
  padding: .2em .5em;
  color: #f8f8f2;
  background: #23241f;
}

.tsumiki-blog-entry-body table {
  width: 100%;
  font-size: 1em;
  word-break: break-all;
}

.tsumiki-blog-entry-body thead th {
  background: #f19419;
  color: #fff;
}

.tsumiki-blog-entry-body tbody th {
  background: #fbe8b1;
}

.tsumiki-blog-entry-body tbody td {
  background: #f1ece7;
}

.tsumiki-blog-entry-body td,.tsumiki-blog-entry-body th {
  -webkit-border-radius: 9px 8px 6px;
  border-radius: 9px 8px 6px;
  padding: 10px;
  text-align: left;
  border: 3px solid #fff;
}

.tsumiki-blog-entry-body td.char-length-1,.tsumiki-blog-entry-body th.char-length-1 {
  width: 1em;
}

.tsumiki-blog-entry-body td.char-length-2,.tsumiki-blog-entry-body th.char-length-2 {
  width: 2em;
}

.tsumiki-blog-entry-body td.char-length-3,.tsumiki-blog-entry-body th.char-length-3 {
  width: 3em;
}

.tsumiki-blog-entry-body td.char-length-4,.tsumiki-blog-entry-body th.char-length-4 {
  width: 4em;
}

.tsumiki-blog-entry-body td.char-length-5,.tsumiki-blog-entry-body th.char-length-5 {
  width: 5em;
}

.tsumiki-blog-entry-body td.char-length-6,.tsumiki-blog-entry-body th.char-length-6 {
  width: 6em;
}

.tsumiki-blog-entry-body td.char-length-7,.tsumiki-blog-entry-body th.char-length-7 {
  width: 7em;
}

.tsumiki-blog-entry-body td.char-length-8,.tsumiki-blog-entry-body th.char-length-8 {
  width: 8em;
}

.tsumiki-blog-entry-body td.char-length-9,.tsumiki-blog-entry-body th.char-length-9 {
  width: 9em;
}

.tsumiki-blog-entry-body td.char-length-10,.tsumiki-blog-entry-body th.char-length-10 {
  width: 10em;
}

.tsumiki-blog-entry-body td.char-length-11,.tsumiki-blog-entry-body th.char-length-11 {
  width: 11em;
}

.tsumiki-blog-entry-body td.char-length-12,.tsumiki-blog-entry-body th.char-length-12 {
  width: 12em;
}

.tsumiki-blog-entry-body td.char-length-13,.tsumiki-blog-entry-body th.char-length-13 {
  width: 13em;
}

.tsumiki-blog-entry-body td.char-length-14,.tsumiki-blog-entry-body th.char-length-14 {
  width: 14em;
}

.tsumiki-blog-entry-body td.char-length-15,.tsumiki-blog-entry-body th.char-length-15 {
  width: 15em;
}

.tsumiki-blog-entry-body td.char-length-16,.tsumiki-blog-entry-body th.char-length-16 {
  width: 16em;
}

.tsumiki-blog-entry-body td.char-length-17,.tsumiki-blog-entry-body th.char-length-17 {
  width: 17em;
}

.tsumiki-blog-entry-body td.char-length-18,.tsumiki-blog-entry-body th.char-length-18 {
  width: 18em;
}

.tsumiki-blog-entry-body td.char-length-19,.tsumiki-blog-entry-body th.char-length-19 {
  width: 19em;
}

.tsumiki-blog-entry-body td.char-length-20,.tsumiki-blog-entry-body th.char-length-20 {
  width: 20em;
}

.tsumiki-blog-entry-body td.char-length-21,.tsumiki-blog-entry-body th.char-length-21 {
  width: 21em;
}

.tsumiki-blog-entry-body td.char-length-22,.tsumiki-blog-entry-body th.char-length-22 {
  width: 22em;
}

.tsumiki-blog-entry-body td.char-length-23,.tsumiki-blog-entry-body th.char-length-23 {
  width: 23em;
}

.tsumiki-blog-entry-body td.char-length-24,.tsumiki-blog-entry-body th.char-length-24 {
  width: 24em;
}

.tsumiki-blog-entry-body td.char-length-25,.tsumiki-blog-entry-body th.char-length-25 {
  width: 25em;
}

.tsumiki-blog-entry-body td.char-length-26,.tsumiki-blog-entry-body th.char-length-26 {
  width: 26em;
}

.tsumiki-blog-entry-body td.char-length-27,.tsumiki-blog-entry-body th.char-length-27 {
  width: 27em;
}

.tsumiki-blog-entry-body td.char-length-28,.tsumiki-blog-entry-body th.char-length-28 {
  width: 28em;
}

.tsumiki-blog-entry-body td.char-length-29,.tsumiki-blog-entry-body th.char-length-29 {
  width: 29em;
}

.tsumiki-blog-entry-body td.char-length-30,.tsumiki-blog-entry-body th.char-length-30 {
  width: 30em;
}

.tsumiki-blog-entry-body td.char-length-31,.tsumiki-blog-entry-body th.char-length-31 {
  width: 31em;
}

.tsumiki-blog-entry-body td.char-length-32,.tsumiki-blog-entry-body th.char-length-32 {
  width: 32em;
}

.tsumiki-blog-entry-body td.char-length-33,.tsumiki-blog-entry-body th.char-length-33 {
  width: 33em;
}

.tsumiki-blog-entry-body td.char-length-34,.tsumiki-blog-entry-body th.char-length-34 {
  width: 34em;
}

.tsumiki-blog-entry-body td.char-length-35,.tsumiki-blog-entry-body th.char-length-35 {
  width: 35em;
}

.tsumiki-blog-entry-body td.char-length-36,.tsumiki-blog-entry-body th.char-length-36 {
  width: 36em;
}

.tsumiki-blog-entry-body td.char-length-37,.tsumiki-blog-entry-body th.char-length-37 {
  width: 37em;
}

.tsumiki-blog-entry-body td.char-length-38,.tsumiki-blog-entry-body th.char-length-38 {
  width: 38em;
}

.tsumiki-blog-entry-body td.char-length-39,.tsumiki-blog-entry-body th.char-length-39 {
  width: 39em;
}

.tsumiki-blog-entry-body td.char-length-40,.tsumiki-blog-entry-body th.char-length-40 {
  width: 40em;
}

.tsumiki-blog-entry-body td.char-length-41,.tsumiki-blog-entry-body th.char-length-41 {
  width: 41em;
}

.tsumiki-blog-entry-body td.char-length-42,.tsumiki-blog-entry-body th.char-length-42 {
  width: 42em;
}

.tsumiki-blog-entry-body td.char-length-43,.tsumiki-blog-entry-body th.char-length-43 {
  width: 43em;
}

.tsumiki-blog-entry-body td.char-length-44,.tsumiki-blog-entry-body th.char-length-44 {
  width: 44em;
}

.tsumiki-blog-entry-body td.char-length-45,.tsumiki-blog-entry-body th.char-length-45 {
  width: 45em;
}

.tsumiki-blog-entry-body td.char-length-46,.tsumiki-blog-entry-body th.char-length-46 {
  width: 46em;
}

.tsumiki-blog-entry-body td.char-length-47,.tsumiki-blog-entry-body th.char-length-47 {
  width: 47em;
}

.tsumiki-blog-entry-body td.char-length-48,.tsumiki-blog-entry-body th.char-length-48 {
  width: 48em;
}

.tsumiki-blog-entry-body td.char-length-49,.tsumiki-blog-entry-body th.char-length-49 {
  width: 49em;
}

.tsumiki-blog-entry-body td.char-length-50,.tsumiki-blog-entry-body th.char-length-50 {
  width: 50em;
}

.tsumiki-blog-entry-body td.align-center,.tsumiki-blog-entry-body th.align-center {
  text-align: center;
}

.tsumiki-blog-entry-body td.align-right,.tsumiki-blog-entry-body th.align-right {
  text-align: right;
}

@media only screen and (max-width:999px) {
  .article_header_block {
    width: 100%;
  };
}

@media only screen and (max-width:640px) {
  .category_label+.author_name {
    display: block;
    margin-top: 10px;
  }

  .category_label+.author_name:before {
    display: none;
  };
}

@media only screen and (max-width:480px) {
  .article_header_block h1 {
    font-size: 18px;
  };
}

body,html {
  height: 100%;
}

.control {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0,0,0,.1);
  z-index: 1;
}

.control h1 {
  margin: 0;
  padding: 4px 8px;
  font-weight: lighter;
  font-size: 1em;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 36px 0 0;
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  padding-left: 8px;
  position: relative;
}

.delete {
  float: right;
}

.list {
  width: 25%;
  float: left;
}

.text {
  width: 75%;
  float: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
}

textarea {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
}

.side {
  display: table-cell;
  vertical-align: top;
  height: 100%;
  width: 20%;
  overflow: auto;
  padding-bottom: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: solid 8px transparent;
}

.noteList {
  list-style: none;
  padding: 0;
  border-top: 1px solid #ccc;
  margin: 8px 0 0;
  overflow: auto;
  height: 95%;
}

.noteList li {
  position: relative;
  line-height: 3;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.noteList li.ac {
  background: rgba(0,0,0,.1);
}

.noteList .checkbox {
  margin: 0 0 0 5%;
  width: 10%;
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.noteList .title {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  line-height: 1.5;
  padding-left: 20%;
}

.noteList .title-editor {
  display: none;
  position: absolute;
  width: 70%;
  top: 30px;
  left: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 8px;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 1px 1px 0 2px #999;
  box-shadow: 1px 1px 0 2px #999;
  z-index: 2;
}

.noteList .created {
  line-height: 2;
  display: block;
  text-align: right;
  padding-right: 8px;
  color: #bdc3c7;
}

.textarea-rapper {
  width: 45%;
  height: 100%;
  display: table-cell;
  border-right: solid 8px transparent;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.preview-wrapper {
  width: 35%;
  height: 100%;
  overflow: auto;
  display: table-cell;
  vertical-align: top;
  border-right: solid 8px transparent;
  padding-bottom: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.preview-btns {
  position: relative;
  margin-bottom: 8px;
}

.preview-btns label {
  width: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  line-height: 1.7;
}

.preview-inner {
  display: none;
  height: 95%;
  overflow: auto;
}

@font-face {
  font-family:octicons;src:url(octicons.eot?#iefix) format('embedded-opentype'),url(octicons.woff) format('woff'),url(octicons.ttf) format('truetype'),url(octicons.svg#octicons) format('svg');font-weight:400;font-style:normal;
}

.mega-octicon,.octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mega-octicon {
  font-size: 32px;
}

.octicon-alert:before {
  content: '\f02d';
}

.octicon-alignment-align:before {
  content: '\f08a';
}

.octicon-alignment-aligned-to:before {
  content: '\f08e';
}

.octicon-alignment-unalign:before {
  content: '\f08b';
}

.octicon-arrow-down:before {
  content: '\f03f';
}

.octicon-arrow-left:before {
  content: '\f040';
}

.octicon-arrow-right:before {
  content: '\f03e';
}

.octicon-arrow-small-down:before {
  content: '\f0a0';
}

.octicon-arrow-small-left:before {
  content: '\f0a1';
}

.octicon-arrow-small-right:before {
  content: '\f071';
}

.octicon-arrow-small-up:before {
  content: '\f09f';
}

.octicon-arrow-up:before {
  content: '\f03d';
}

.octicon-beer:before {
  content: '\f069';
}

.octicon-book:before {
  content: '\f007';
}

.octicon-bookmark:before {
  content: '\f07b';
}

.octicon-briefcase:before {
  content: '\f0d3';
}

.octicon-broadcast:before {
  content: '\f048';
}

.octicon-browser:before {
  content: '\f0c5';
}

.octicon-bug:before {
  content: '\f091';
}

.octicon-calendar:before {
  content: '\f068';
}

.octicon-check:before {
  content: '\f03a';
}

.octicon-checklist:before {
  content: '\f076';
}

.octicon-chevron-down:before {
  content: '\f0a3';
}

.octicon-chevron-left:before {
  content: '\f0a4';
}

.octicon-chevron-right:before {
  content: '\f078';
}

.octicon-chevron-up:before {
  content: '\f0a2';
}

.octicon-circle-slash:before {
  content: '\f084';
}

.octicon-circuit-board:before {
  content: '\f0d6';
}

.octicon-clippy:before {
  content: '\f035';
}

.octicon-clock:before {
  content: '\f046';
}

.octicon-cloud-download:before {
  content: '\f00b';
}

.octicon-cloud-upload:before {
  content: '\f00c';
}

.octicon-code:before {
  content: '\f05f';
}

.octicon-color-mode:before {
  content: '\f065';
}

.octicon-comment-add:before,.octicon-comment:before {
  content: '\f02b';
}

.octicon-comment-discussion:before {
  content: '\f04f';
}

.octicon-credit-card:before {
  content: '\f045';
}

.octicon-dash:before {
  content: '\f0ca';
}

.octicon-dashboard:before {
  content: '\f07d';
}

.octicon-database:before {
  content: '\f096';
}

.octicon-device-camera:before {
  content: '\f056';
}

.octicon-device-camera-video:before {
  content: '\f057';
}

.octicon-device-desktop:before {
  content: '\f27c';
}

.octicon-device-mobile:before {
  content: '\f038';
}

.octicon-diff:before {
  content: '\f04d';
}

.octicon-diff-added:before {
  content: '\f06b';
}

.octicon-diff-ignored:before {
  content: '\f099';
}

.octicon-diff-modified:before {
  content: '\f06d';
}

.octicon-diff-removed:before {
  content: '\f06c';
}

.octicon-diff-renamed:before {
  content: '\f06e';
}

.octicon-ellipsis:before {
  content: '\f09a';
}

.octicon-eye-unwatch:before,.octicon-eye-watch:before,.octicon-eye:before {
  content: '\f04e';
}

.octicon-file-binary:before {
  content: '\f094';
}

.octicon-file-code:before {
  content: '\f010';
}

.octicon-file-directory:before {
  content: '\f016';
}

.octicon-file-media:before {
  content: '\f012';
}

.octicon-file-pdf:before {
  content: '\f014';
}

.octicon-file-submodule:before {
  content: '\f017';
}

.octicon-file-symlink-directory:before {
  content: '\f0b1';
}

.octicon-file-symlink-file:before {
  content: '\f0b0';
}

.octicon-file-text:before {
  content: '\f011';
}

.octicon-file-zip:before {
  content: '\f013';
}

.octicon-flame:before {
  content: '\f0d2';
}

.octicon-fold:before {
  content: '\f0cc';
}

.octicon-gear:before {
  content: '\f02f';
}

.octicon-gift:before {
  content: '\f042';
}

.octicon-gist:before {
  content: '\f00e';
}

.octicon-gist-secret:before {
  content: '\f08c';
}

.octicon-git-branch-create:before,.octicon-git-branch-delete:before,.octicon-git-branch:before {
  content: '\f020';
}

.octicon-git-commit:before {
  content: '\f01f';
}

.octicon-git-compare:before {
  content: '\f0ac';
}

.octicon-git-merge:before {
  content: '\f023';
}

.octicon-git-pull-request-abandoned:before,.octicon-git-pull-request:before {
  content: '\f009';
}

.octicon-globe:before {
  content: '\f0b6';
}

.octicon-graph:before {
  content: '\f043';
}

.octicon-heart:before {
  content: '\2665';
}

.octicon-history:before {
  content: '\f07e';
}

.octicon-home:before {
  content: '\f08d';
}

.octicon-horizontal-rule:before {
  content: '\f070';
}

.octicon-hourglass:before {
  content: '\f09e';
}

.octicon-hubot:before {
  content: '\f09d';
}

.octicon-inbox:before {
  content: '\f0cf';
}

.octicon-info:before {
  content: '\f059';
}

.octicon-issue-closed:before {
  content: '\f028';
}

.octicon-issue-opened:before {
  content: '\f026';
}

.octicon-issue-reopened:before {
  content: '\f027';
}

.octicon-jersey:before {
  content: '\f019';
}

.octicon-jump-down:before {
  content: '\f072';
}

.octicon-jump-left:before {
  content: '\f0a5';
}

.octicon-jump-right:before {
  content: '\f0a6';
}

.octicon-jump-up:before {
  content: '\f073';
}

.octicon-key:before {
  content: '\f049';
}

.octicon-keyboard:before {
  content: '\f00d';
}

.octicon-law:before {
  content: '\f0d8';
}

.octicon-light-bulb:before {
  content: '\f000';
}

.octicon-link:before {
  content: '\f05c';
}

.octicon-link-external:before {
  content: '\f07f';
}

.octicon-list-ordered:before {
  content: '\f062';
}

.octicon-list-unordered:before {
  content: '\f061';
}

.octicon-location:before {
  content: '\f060';
}

.octicon-gist-private:before,.octicon-git-fork-private:before,.octicon-lock:before,.octicon-mirror-private:before {
  content: '\f06a';
}

.octicon-logo-github:before {
  content: '\f092';
}

.octicon-mail:before {
  content: '\f03b';
}

.octicon-mail-read:before {
  content: '\f03c';
}

.octicon-mail-reply:before {
  content: '\f051';
}

.octicon-mark-github:before {
  content: '\f00a';
}

.octicon-markdown:before {
  content: '\f0c9';
}

.octicon-megaphone:before {
  content: '\f077';
}

.octicon-mention:before {
  content: '\f0be';
}

.octicon-microscope:before {
  content: '\f089';
}

.octicon-milestone:before {
  content: '\f075';
}

.octicon-mirror-public:before,.octicon-mirror:before {
  content: '\f024';
}

.octicon-mortar-board:before {
  content: '\f0d7';
}

.octicon-move-down:before {
  content: '\f0a8';
}

.octicon-move-left:before {
  content: '\f074';
}

.octicon-move-right:before {
  content: '\f0a9';
}

.octicon-move-up:before {
  content: '\f0a7';
}

.octicon-mute:before {
  content: '\f080';
}

.octicon-no-newline:before {
  content: '\f09c';
}

.octicon-octoface:before {
  content: '\f008';
}

.octicon-organization:before {
  content: '\f037';
}

.octicon-package:before {
  content: '\f0c4';
}

.octicon-paintcan:before {
  content: '\f0d1';
}

.octicon-pencil:before {
  content: '\f058';
}

.octicon-person-add:before,.octicon-person-follow:before,.octicon-person:before {
  content: '\f018';
}

.octicon-pin:before {
  content: '\f041';
}

.octicon-playback-fast-forward:before {
  content: '\f0bd';
}

.octicon-playback-pause:before {
  content: '\f0bb';
}

.octicon-playback-play:before {
  content: '\f0bf';
}

.octicon-playback-rewind:before {
  content: '\f0bc';
}

.octicon-plug:before {
  content: '\f0d4';
}

.octicon-file-add:before,.octicon-file-directory-create:before,.octicon-gist-new:before,.octicon-plus:before,.octicon-repo-create:before {
  content: '\f05d';
}

.octicon-podium:before {
  content: '\f0af';
}

.octicon-primitive-dot:before {
  content: '\f052';
}

.octicon-primitive-square:before {
  content: '\f053';
}

.octicon-pulse:before {
  content: '\f085';
}

.octicon-puzzle:before {
  content: '\f0c0';
}

.octicon-question:before {
  content: '\f02c';
}

.octicon-quote:before {
  content: '\f063';
}

.octicon-radio-tower:before {
  content: '\f030';
}

.octicon-repo-delete:before,.octicon-repo:before {
  content: '\f001';
}

.octicon-repo-clone:before {
  content: '\f04c';
}

.octicon-repo-force-push:before {
  content: '\f04a';
}

.octicon-gist-fork:before,.octicon-repo-forked:before {
  content: '\f002';
}

.octicon-repo-pull:before {
  content: '\f006';
}

.octicon-repo-push:before {
  content: '\f005';
}

.octicon-rocket:before {
  content: '\f033';
}

.octicon-rss:before {
  content: '\f034';
}

.octicon-ruby:before {
  content: '\f047';
}

.octicon-screen-full:before {
  content: '\f066';
}

.octicon-screen-normal:before {
  content: '\f067';
}

.octicon-search-save:before,.octicon-search:before {
  content: '\f02e';
}

.octicon-server:before {
  content: '\f097';
}

.octicon-settings:before {
  content: '\f07c';
}

.octicon-log-in:before,.octicon-sign-in:before {
  content: '\f036';
}

.octicon-log-out:before,.octicon-sign-out:before {
  content: '\f032';
}

.octicon-split:before {
  content: '\f0c6';
}

.octicon-squirrel:before {
  content: '\f0b2';
}

.octicon-star-add:before,.octicon-star-delete:before,.octicon-star:before {
  content: '\f02a';
}

.octicon-steps:before {
  content: '\f0c7';
}

.octicon-stop:before {
  content: '\f08f';
}

.octicon-repo-sync:before,.octicon-sync:before {
  content: '\f087';
}

.octicon-tag-add:before,.octicon-tag-remove:before,.octicon-tag:before {
  content: '\f015';
}

.octicon-telescope:before {
  content: '\f088';
}

.octicon-terminal:before {
  content: '\f0c8';
}

.octicon-three-bars:before {
  content: '\f05e';
}

.octicon-tools:before {
  content: '\f031';
}

.octicon-trashcan:before {
  content: '\f0d0';
}

.octicon-triangle-down:before {
  content: '\f05b';
}

.octicon-triangle-left:before {
  content: '\f044';
}

.octicon-triangle-right:before {
  content: '\f05a';
}

.octicon-triangle-up:before {
  content: '\f0aa';
}

.octicon-unfold:before {
  content: '\f039';
}

.octicon-unmute:before {
  content: '\f0ba';
}

.octicon-versions:before {
  content: '\f064';
}

.octicon-remove-close:before,.octicon-x:before {
  content: '\f081';
}

.octicon-zap:before {
  content: '\26A1';
}
